.update-container {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    background: white;
    border-radius: 8px 8px 0 0;
    margin-top: 100px;    
}

.update-stock {
    display: block;
    float: left;
    width: 100%;
    background: #FFF;
    
}

.update-stock ul {
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
    border-radius: 8px;
}

.update-stock li {
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
}

.update-stock li img {
    width: 40%;
    float: left;
    margin-right: 15px;
    
}

.update-container .product-header {
    width: 70%;
}

.product-update {
    padding: 20px;
}

.product-update img {
    max-width: 500px;
    margin-bottom: 20px;
}

.atualizar {
    width: 30%;
    float: left;
    display: block;
    padding: 0 20px;
    background: white;
    border-radius: 8px;    
    margin-top: 10px;
    margin-bottom: 100px; 
}

.atualizar h1 {
    flex-direction: column-reverse;
    color: black;
    margin-top: 10px;
}

form {
    width: 100%;
    max-width: 450px;
}
form {
    width: 100%;
    max-width: 450px;
}

form input{
    margin-top: 8px;
}

.atualizar form button  {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 450px;
    padding: 10px;
}

.up-link {
    display: flex;
    align-items: center;
    color: #23b3b8;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
    opacity: 0.8;
    padding: 20px 0;
    margin-left: 28px;
    
}

.up-link:hover {
    filter: brightness(80%);
}