@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Muli, sans-serif;
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
}

input, button {
    font: 400 14px Muli, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.button {
    width: 100%;
    background: #44d9e6;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    transition: filter 0.2s;
    padding: 5px;
    
}

.button:hover {
    filter: brightness(80%); /* quando passar o mouse em cima fazer efeito de deixar mais escuro */
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #23b3b8;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link {
    margin-right: 8px;
} 

.back-link {
    opacity: 0.8;
}

.MuiSwitch-thumb {
    color: #44d9e6;
}

.MuiSwitch-track {
    background-color: #44d9e6 !important;
}