.container {
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}

.profile {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.container h1 {
    flex-direction: column-reverse;
    color: black;

}

.container li {
    width: 100%;
    padding: 10px;
    height: auto;
    margin: 10px auto;
}

.button {
    max-width: 230px;
}

.stock ul {
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
    background: #FFF;
    border-radius: 8px;
}

.stock li {
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
    background: #FFF;
    border-radius: 8px;
}

.stock li:hover{
    filter: brightness(95%);
}

.esgotado {
    background-color: #F00;
}

.baixo {
    background-color: #FF0;
}

.sub-header {
    width: 100%;
}

.profile {
    width: 70%;
    float: left;
}

.profile img {
    width: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 18px;
}

.new-logout {
    width: 30%;
    float: left;
}

.new-logout .button {
    margin: 10px 0;
}

.product-header {
    display: block;
    float: left;
    width: 70%;
    margin-bottom: 15px;
}

.stock li img {
    width: 40%;
    float: left;
    margin-right: 15px;
}

.buttons {
    float: left;
    width: 30%;
}

.buttons .button {
    float: left;
    width: 100%;
    margin:10px;
}