.new-products {
    width: 100%;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.new-products .content {
    width: 100%;
    padding: 32px;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 29px;

    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.new-products .content section {
    width: 100%;
    max-width: 380px;
}
.new-products .content section img {
    margin-left: -65px;
    padding-top: -100px;
    margin-top: -160px;
    display: flex;
}
.new-products .content section h1 {
    margin: 64px 0px 32px;
    margin-top: -100px ;
    font-size: 38px;
    margin-left: 25px;
}

.new-products .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
    margin-left: 25px;
}

.new-products .content section .back-link {
    margin-top: 250px;
    margin-bottom: -40px;
}

.new-products .content section .back-link:hover {
    filter: brightness(80%);
}

.new-products .content form {
    width: 100%;
    max-width: 450px;
}

.new-products .content form input {
    margin-top: 8px;
    margin-bottom: 8px;
}

.new-products .content form .input-group{
    display: flex;
}

.new-products .content form .select-primary {
    margin-top: 10px;
}

.new-products .content form .select-last {
    margin-bottom: 3px;
}

.new-products .content form button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 450px;
    padding: 10px;
}
